@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}
a {
    color: inherit;
    text-decoration-line: none;
}

a:hover
{
    text-decoration-line: underline;

}
a:focus {
outline: 2px solid tomato;
text-decoration-line: underline;
}

.glowny_kontener {
    max-width: 1000px;
    /* overflow: auto; */   /* już niepotrzebne, skoro nowe dziecko ".tresci_glowne" jest kontenerem na zawartość z float  */
    border-radius: 5px;
    border: 1px #ddd solid;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #eee;

        /* background-color: #ebdada; */ /* testowy */ 
}

.tresci_glowne {
    overflow: auto;    
    background-color: #f7f7f7;      /*  specjalnie użyto nowego pojemnika, by bez flexboxa zmienić kolor tła dla bezpośredniego kontenera z floatami */

}

.naglowek {

    /* overflow: auto; */
        /* background-color: khaki; */   /* testowy */ 
}


.nawigacja {
    /* float: right; */
        /* background-color: yellowgreen; */  /* testowy */ 
}

.nawigacja a {
    /* float: right; */
    /* display: block; */
        /* background-color: goldenrod; */
}

.nawigacja > div {
    overflow: auto;     /* kontener na float w górnej liście nawigacyjnej */
    padding: 1em;
        /* background-color: lightgoldenrodyellow; */ /* testowy */ 
}

.nawigacja .logo {
    float: left;
    line-height: 0px;  /* bez tego lub mniejsze niż 19px - pojawia się obrys tła pod obrazkiem (jakiś padding tekstowy do obrazka) */
    /* padding: 1em; */
        /* background-color: tomato; */  /* testowy */ 
}

.nawigacja .logo > img {
    border: 1px solid #666;
}


.nawigacja ul {
    list-style: none;
    float: right;
    margin: 0;
    padding-left: 0px;      /* reset lewego wcięcia dla kontenera listy*/
    /* padding: 1em; */
        /* background-color: violet; */  /* testowy */ 
}

.nawigacja li {
    display: inline-block;
    font-size: 0.95em;
    padding: 1em 0em;
    /* font-size: 1.3em; */
    color: #333;
    background-color: white;    /* ten kolor powinien być nadawany */
}

.nawigacja li:hover {
    color: white;        /* tutaj definicja koloru tektu oraz tła dla elementu oraz potomnego odnośnika */
    background-color: #333;     /* kolor tła do wykorzystania tylko w elemencie listy */
}

.nawigacja li > a {
    color: inherit;     /* ++ nie potrzeba ponownej definicji na :HOVER dla podległego odnośnika (zdefiniowane w rodzicu) ++ */
    text-decoration-line: none;
    font-weight: bold;
    padding: 1em 0.8em;
      /* background-color: #ccc; */
}

/* .nawigacja li > a {
    color: #222;
    padding: 1em 1.2em;
    f
} */



/* .nawigacja li:hover > a {
    color: #ccc;
} */


.obraz_naglowka {
    height: 280px;
    width: 100%;
        /* background-color: lightgrey; */   /* testowy */
    background: url('../assets/img/NYC-fire-escape-east-side.jpg') no-repeat;
    background-size: cover;     /* wypełnij względem obu wymiarów, zostawiając więcej miejsca poza obszarem "bliższym"*/
    background-position-y: -430px;     /* wzięte z powietrza, ale obrazek ma około 1.1k x 500px */
    opacity: 0.75;   /* odgórne odebranie "przyciągania uwagi" */
}

main {
    float: left;
    width: 75%;
    max-width: 740px;
    padding: 2em;
    border-right: 1px solid lightgray;  /* ten kontener jest wyższy,zatem będzie "miedzą" z paskiem bocznym */
    background-color: #fff;
        /* background-color: mediumturquoise; */  /* testowy */ 
}

main > h1 {
    /* font-size: 2.5em; */
}

main > .tytul {

}

main > img  {
    width: 100%;
}

aside {
    float: right;
    width: 25%;
    max-width: 250px;
    padding: 1em;
    overflow: hidden;   /* na rzecz kolejnego obrazka */
        /* background-color: thistle; */ /* testowy */ 
} 

aside > a > img {
   /* padding: 50px; */
   /* margin: 0 auto; */
   float: left;
   margin-right: 10px;
   margin-bottom: 10px;
   max-width: 120px;
}

aside > ul {
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0;
}

aside > ul > li {
    margin: 1em;
    color: #666;
}

aside > ul > li:before {
    content: '■';       /* bezpośrednie wstawienie symbolu ... ewentualnie jaki jego kod? */
    color: black;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
}

.zeruj_float {
    clear: both;
}

.stopka {
    text-align: center;
    padding: 1em;
    border-top: 1px solid lightgrey;
        /* background-color: lightgreen; */  /* testowy */
}



