@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5bc26a;
    background: -moz-linear-gradient(90deg, #5bc26a 0%, #00b0d4 100%);
    background: -webkit-linear-gradient(90deg,  #5bc26a 0%, #00b0d4 100%);
    background: linear-gradient(90deg,  #5bc26a 0%, #00b0d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5bc26a",endColorstr="#00b0d4",GradientType=1);   /*  a la gradienmt w IE6+ */
}

h1 {
    font-size: 3em;
    font-variant: small-caps;
    color: white;
    /* margin: 0 auto; */
    text-align: center;
    font-weight: 400;
}

table {
    /* background-color: white; */
    /* padding: 1em; */
    width: 100%;
    border: 1px solid #ddd;
}

td,
th {
    /* width: 50%; */
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    font-weight: bolder;
    border-bottom-color: #999;  /* !!! to jest rozszerzenie, którego nie ma w wizualizacji zadania !!! */
}

thead > tr {
    background-color: #2db9a0;
    background-color:rgba(255, 255, 255, 0.4);
    font-variant: small-caps;
    color: white;
}

.kontener {
    margin: 10vh 10vw;    /* wybrane w ciemno ustawienie działa dobrze dla ekranów 16:9 (przetwstowane w ich wielokrotności o 100px) */
}

