@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.75em;
}

a {
    color: #453a66;
    text-decoration: none;
}

.kontener {
    overflow: auto;
    background-color: #87c5f7;
}

.info {
    /* background-color: thistle; */
    float: left;
    width: 35%;
    padding-top: 80px;
} 

.info > img {
   display: block;
   /* padding: 50px; */
   margin: 0 auto;
   max-width: 350px;
}


.zawartosc {
    /* background-color: teal; */
    float: left;
    width: 60%;
    padding: 7em 6em;
    color: white;
}

.zawartosc > h2 {
    font-size: 4em;
}

.zawartosc button {
    font-size: 2em;
}

.zapisy {
    text-align: right;
}

.zapisy .odsylacz {
    background-color: #de80bf;
    padding: 0.3em 1.15em;
    display: inline;
    border: 2.4px solid white;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.zawartosc .odsylacz a { 
    color: white;
}

.zeruj_float {
    clear: both;
}

.stopka {
    background-color: #85d2ff;
    text-align: center;
    /* padding: 1em 0; */
    margin-bottom: 3.5em;
}

.nawigacja {
    background-color: lightblue;
}

.nawigacja ul {
    list-style: none;
    /* padding: 1em; */
}

.nawigacja li {
    /* background-color: #ccc; */
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 1.3em;
}

